.card-info{
    height: 160px;
    width: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 20px 4px rgba(88, 105, 46, 0.355);
    margin-top: 40px;
    margin-left: 30px;
}

.card-info span{
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #58692e;
    font-weight: bold;
    
}

.pacients-info{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 5px;

}

.pacients-info h1{
    font-size: 50px;
    margin: 0px 0px;
}

.pacients-info p{
    font-size: 20px;
    margin: 0px 0px;
    color: #58692e;
}

.info{
    display: flex;
    flex-direction: row;

}

.info-cards-area{
    display: flex;
    flex-direction: row;
}
.schedulle{
    height: 400px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 20px 4px rgba(88, 105, 46, 0.355);
    margin-top: 40px;
    margin-left: 30px;
    overflow-y:scroll;
}
.schedulleMonthly{
    height: 500px;
    width: 98%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 20px 4px rgba(88, 105, 46, 0.355);
    margin-top: 40px;
    margin-left: 30px;
    overflow-y:scroll;

}


.card-register-diet-pacient{
    height: 200px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 20px 4px rgba(88, 105, 46, 0.355);
    margin-top: 40px;
    margin-left: 30px;
}

.schedulle span{
    padding: 10px 10px;
    display: flex;
    font-size: 20px;
    color: #58692e;
    font-weight: bold;
    
    
}

.schedulleMonthly span{
    padding: 10px 10px;
    display: flex;
    font-size: 20px;
    color: #58692e;
    font-weight: bold;
    
    
}
.scheduller-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.scheduller-head-botton-Monthly{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.scheduller-head-Monthly{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.scheduller-head button{
    font-size: 15px;
    font-family: 'DM Sans';
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 10px;
    height: 30px;
    width: 150px;
    background-color: #58692e;
    color: #f5f5f5;
    cursor: pointer;
    
}
.scheduller-head-Monthly button{
    font-size: 15px;
    font-family: 'DM Sans';
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 10px;
    height: 30px;
    width: 150px;
    background-color: #58692e;
    color: #f5f5f5;
    cursor: pointer;
    
}
.scheduller-head-Monthly button#desfiltrar{
    font-size: 15px;
    font-family: 'DM Sans';
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    background-color: #58692e;
    color: #f5f5f5;
    cursor: pointer;
    
}
.register-diet-pacient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 200px;
    width: 350px;
    box-shadow: 2px 4px 20px 4px rgba(88, 105, 46, 0.355);
    margin-top: 40px;
    margin-left: 30px;
    background-color: #fdd28280;

}

.register-diet-pacient h1{
    padding: 0px 0px;
    color: #58692e;
}

.register-diet-pacient p {
    padding: 0px 10px;
}

.schedulle h1 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.schedulleMonthly h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-y: scroll;
    overflow: hidden;


}

table caption{
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr{
    border: 1px solid #ddd;
    padding: .35em;
}

table th, table td{
    padding: .62em;
    text-align: center;
}

table td button{
    font-size: 15px;
    font-family: 'DM Sans';
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-color: #58692e;
    color: #f5f5f5;
    cursor: pointer;
}

.link{
    color: #58692e
}

.modal-content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.modal-content select{
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.modal-content label{
    margin-bottom: 10px;
}
.modal-btn{
    font-size: 15px;
    font-family: 'DM Sans';
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 40px;
    height: 30px;
    width: 150px;
    background-color: #58692e;
    color: #f5f5f5;
    cursor: pointer;
}

.modal-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-scheduled-pacients{
    padding-left: 40px;
}