.scroll-container-pacient {
    background-color: rgba(217, 217, 217, 0.5);
    border: 1px solid rgba(213, 107, 29, 0.5);
    overflow: hidden;
    font-size: 30px;
    border-radius: 5px;
    min-height: 120px;
    width: 169px;
    margin: 15px 15px;
    padding: 10px 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}

.scroll-container-pacient:hover {
    background: rgba(88, 105, 46, 0.5);
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}


.search-pacients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 450px;
    font: 'DM Sans';
    background-color: #fdd28280;
}

.search-field-area{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.container h1{
    color: rgba(88, 105, 46, 1);
}