.cont-diets {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.cont-patient-record {
    margin: 20px;
    width: 30%;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);

}

.scroll-container {
    background-color: rgba(217, 217, 217, 0.5);
    border: 1px solid rgba(213, 107, 29, 0.5);
    margin-top: 40px;
    margin-bottom: 15px;
    margin-right: 60%;
    border-radius: 5px;
    overflow: hidden;
    font-size: 30px;
    width: 60%;
    padding: 90px 55px 20px 55px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}


.scroll-search {
    margin-left: 50px;
    margin-top: 40px;
    width: 55%;
    font: 'DM Sans';
    background-color: rgba(253, 210, 130, 0.5);
}


.scroll-container:hover {
    background: rgba(88, 105, 46, 0.5);
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.cont-patient-diet {
    margin: 45px;
    flex-grow: 1;
    overflow: hidden;
}

.diet-details {
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: rgba(88, 105, 46, 0.5);
    overflow: hidden;
    display: inline-block;
    max-width:30%;
    max-height: 20%;
    padding: 55px 55px 55px 55px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.day-text {
    font-family: 'DM Sans';
    color: #58692e;
    font-size: 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-family: 'DM Sans';
    color: #58692e;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgba(88, 105, 46, 0.5);
    width: 60%;
    overflow: auto;
    right: 0;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Create three equal diet-columns that floats next to each other */
  .diet-column {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color:  rgba(88, 105, 46, 0.5);
    font-family: 'DM Sans';
    color: #FFFFFF;
    margin: 10px;
    height: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  }
  
  .diet-column a {
    font-family: 'DM Sans';
    float: none;
    color: #58692e;
    padding: 25px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .diet-column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the diet-columns */
  .diet-row:after {
    content: "";
    display: table;
    clear: both;
  }

  
.container-diet-btn {
    flex-wrap: wrap;
}

.new-diet {
    margin-top: 100px;
    margin-left: 35%;
}

.new-diet-btn {
    font-size: 15px;
    font-family: 'DM Sans';
    border: none;
    border-radius: 15px;
    border: 1px solid #58692e;
    line-height: 1.2;
    width: 40%;
    height: 50px;
    text-decoration: none;
}

.diet-btn {
    color:#58692e;
    background-color: transparent;
}


.new-diet-btn:hover {
    transition: all 0.2s ease-in-out;
    background:  #58692e;
    color: #FFFFFF;
    cursor: pointer;
}

.info-form-diet {
    width: 100%;
}

.info-form-diet-logo img  {
    height: 190px;
    width: 238px;   
    position: relative;
    top: -5%;
    right: -10%;
}